* {
	-webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.site {
	background-image: url(../img/bg1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.body {
	background-color: rgba(255, 255, 255, 0.85);
	max-width: 860px;
	margin: 0 auto;
	border-radius: 7px;
}

.titulo {
	font-variant: small-caps;
	font-family: Arial;
	font-weight: 900;
	text-shadow: 1px 1px 3px #f16667;
	user-select: none;
	cursor: default;
}

#menu ul {
	padding: 0px;
	margin: 0px;
	background-color: #EDEDED;
	list-style: none;
}

#menu ul li,
.listaDeItens ul li {
	display: inline;
}

#menu ul li a {
	padding: 10px 10px;
	display: inline-block;

	/*Visual do link*/
	background-color: #EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid #EDEDED;

	font-variant: small-caps;
	font-weight: 600;
}

#menu ul li a:hover {
	background-color: rgba(214,214,214,0.7);
	color: #6D6D6D;
	border-bottom: 3px solid #560000;
}

.listaDeItens ul {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 0px;
	margin: 0px;
	list-style: none;
	flex-grow: 1;
}

.listaDeItens ul li {
	margin-top: 10px;
}

.card {
	background-color: rgba(86, 0, 0, 0.3);
	border: 1px solid rgba(86, 0, 0, 1);
	border-radius: 4px;
	max-width: 270px;
	height: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.card p {
	font-size: 16px;
}

.card .avatar {
	border: 2px solid #000;
	width: 50%;
	border-radius: 4px;
}

.tipo_icone {
	padding-bottom: 2px;
}