<div class="text-center">
    <h3>Gerenciador de Conteúdo</h3>
</div>

<br><br>
<div class="listaButtons text-center">

    <ul>
        <li>
            <a href="#!/admin/artigos/novaAtualizacao">
                <img src="img/btn/contract.png">
            </a>
            <p>Nova Atualização</p>
        </li>

        <li>
            <a href="#!/admin/gerenciarAtualizacoes">
                <img src="img/btn/list.png">
            </a>
            <p>Gerenciar Atualizações</p>
        </li>

        <li>
            <a href="#!/admin/novoEvento">
                <img src="img/btn/calendar.png">
            </a>
            <p>Novo Evento</p>
        </li>

        <li>
            <a href="#!/admin/gerenciarEventos">
                <img src="img/btn/protest.png">
            </a>
            <p>Gerenciar Eventos</p>
        </li>
    </ul>

</div>
<br><br>