<div style="position: relative;"><a style="position: absolute;" class="btn btn-default pull-left" href="#!/admin/gerenciarJogadores">Voltar</a></div>

<div class="text-center">
	<h3 >Editar Jogadores</h3>
</div>
<br><br>

<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Filtrar por Nome" ng-model="filterNome.Nome">
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Filtrar por Guilda" ng-model="filterGuilda.Guilda">
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<select class="form-control" ng-model="filterMundo">
					<option value="">Todos os Mundos</option>
					<option value="BR1 - Arvahal">BR1 - Arvahal</option>
					<option value="BR2 - Brisgard">BR2 - Brisgard</option>
					<option value="BR3 - Cirgard">BR3 - Cirgard</option>
					<option value="BR4 - Dinegu">BR4 - Dinegu</option>
					<option value="BR5 - East-Nagach">BR5 - East-Nagach</option>
					<option value="BR6 - Fel Dranghyr">BR6 - Fel Dranghyr</option>
					<option value="BR7 - Greifental">BR7 - Greifental</option>
					<option value="BR8 - Houndsmoor">BR8 - Houndsmoor</option>
					<option value="BR9 - Jaims">BR9 - Jaims</option>
				</select>
			</div>
		</div>
	</div>

<br>
<div class="table-responsive">
<table class="table table-hover table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Guilda</th>
			<th>Mundo</th>
			<th>Pontos</th>
			<th>Batalhas</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr dir-paginate="jogador in rankingJogadores | orderBy:'Pontos' | filter:filterNome | filter:filterMundo | reverse | itemsPerPage: 10" current-page="currentPage">
			<td>{{ ($index + 1) + (currentPage - 1) * 10 }}</td>
			<td><input type="text" class="form-control" ng-model="nomeJogadorEdt" ng-init="nomeJogadorEdt = jogador.Nome"></td>
			<td><input type="text" class="form-control" ng-model="guildaJogadorEdt" ng-init="guildaJogadorEdt = jogador.Guilda"></td>
			<td><input type="text" class="form-control" ng-model="mundoJogadorEdt" ng-init="mundoJogadorEdt = jogador.Mundo"></td>
			<td><input type="number" class="form-control" ng-model="pontosJogadorEdt" ng-init="pontosJogadorEdt = jogador.Pontos"></td>
			<td><input type="number" class="form-control" ng-model="batalhasJogadorEdt" ng-init="batalhasJogadorEdt = jogador.Batalhas"></td>
			<td><button class="btn btn-success" ng-click="editJogador(jogador.$id, nomeJogadorEdt, guildaJogadorEdt, mundoJogadorEdt, pontosJogadorEdt, batalhasJogadorEdt)"><i class="fa fa-floppy-o"></i></button></td>
			<td><button class="btn btn-danger" title="Excluir" ng-click="removeJogador(jogador.$id)"><i class="fa fa-trash-o"></i></button></td>
		</tr>
	</tbody>
</table>
</div>
<div class="text-center">
	<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
</div>