<div class="text-center">
	<h1>Administração do Site</h1>
	<br>
	<button class="btn btn-danger" ng-click="logout()">Sair da Administração</button>
	<br>
</div>

<br><br>
<div class="text-center" style="display: flex; justify-content: space-around;">

	<div>
		<a href="#!/admin/novaUnidade">
			<img src="img/btn/btn_militar.png">
		</a>
		<p>Nova unidade</p>
	</div>

	<div>
		<a href="#!/admin/listaUnidades">
			<img src="img/btn/btn_militar.png">
		</a>
		<p>Editar Unidades</p>
	</div>

	<div>
		<a href="#!/admin/guildas">
			<img src="img/btn/btn_chat.png">
		</a>
		<p>Guildas</p>
	</div>

	<div>
		<a href="#!/admin/usuarios">
			<img src="img/btn/btn_chat.png">
		</a>
		<p>Usuários</p>
	</div>

</div>
<br><br>