<div class="text-center">
    <h1>Administração do Site</h1>
    <br>
    <button class="btn btn-danger" ng-click="logout()">Sair da Administração</button>
    <br>
</div>

<br><br>
<div class="listaButtons text-center">

    <ul>
        <li>
            <a href="#!/admin/novaUnidade">
                <img src="img/btn/military.png">
            </a>
            <p>Unidades</p>
        </li>

        <li>
            <a href="#!/admin/gerenciarGuildas">
                <img src="img/btn/ranking_1.png">
            </a>
            <p>Guildas</p>
        </li>

        <li>
            <a href="#!/admin/gerenciarJogadores">
                <img src="img/btn/ranking_2.png">
            </a>
            <p>Jogadores</p>
        </li>

        <li>
            <a href="#!/admin/artigos">
                <img src="img/btn/articles.png">
            </a>
            <p>Artigos</p>
        </li>
    </ul>

</div>
<br><br>