<h2 class="text-center">
	Wikipédia com algumas informações sobre recursos do jogo, como unidades militares, grandes edifícios, edifícios residenciais, de produção, de mercadorias, etc, para os jogadores de Forge of Empires.
</h2>
<br><br>

<div class="listaButtons text-center">

	<ul>
		<li>
			<a href="#!/unidadesMilitares">
				<img src="img/btn/military.png">
			</a>
			<p>Unidades</p>
		</li>

		<li>
			<a href="#!/edificios">
				<img src="img/btn/castle.png">
			</a>
			<p>Edifícios</p>
		</li>

		<li>
			<a href="#!/eventos">
				<img src="img/btn/list.png">
			</a>
			<p>Eventos</p>
		</li>

		<li>
			<a href="#!/chat">
				<img src="img/btn/chat.png">
			</a>
			<p>Chat</p>
		</li>

		<li>
			<a href="#!/rankingJogadores">
				<img src="img/btn/ranking_2.png">
			</a>
			<p>Jogadores</p>
		</li>

		<li>
			<a href="#!/rankingGuildas">
				<img src="img/btn/ranking_1.png">
			</a>
			<p>Guildas</p>
		</li>
	</ul>

</div>
<br><br>