<h1 class="text-center">
	Wikipédia com algumas informações sobre unidades militares, edifícios residenciais, de produção, de mercadorias, etc, grandes edifícios, para os jogadores de Forge of Empires.
</h1>

<div class="text-center" style="display: flex; justify-content: space-around;">
	<div>
		<a href="#!/unidadesMilitares">
			<img src="img/btn/btn_militar">
		</a>
		<p>Unidades Militares</p>
	</div>

	<div>
		<a href="#!/edificios">
			<img src="img/btn/btn_edificios">
		</a>
		<p>Edifícios</p>
	</div>

	<div>
		<a href="#!/eventos">
			<img src="img/btn/btn_eventos">
		</a>
		<p>Eventos</p>
	</div>
</div>