<h2 class="text-center">
	Wikipédia com algumas informações sobre recursos do jogo, como unidades militares, grandes edifícios, edifícios residenciais, de produção, de mercadorias, etc, para os jogadores de Forge of Empires.
</h2>
<br><br>
<div class="text-center" style="display: flex; justify-content: space-around;">
	<div>
		<a href="#!/unidadesMilitares">
			<img src="img/btn/btn_militar.png">
		</a>
		<p>Unidades Militares</p>
	</div>

	<div>
		<a href="#!/edificios">
			<img src="img/btn/btn_edificios.png">
		</a>
		<p>Edifícios</p>
	</div>

	<div>
		<a href="#!/eventos">
			<img src="img/btn/btn_eventos.png
			">
		</a>
		<p>Eventos</p>
	</div>
</div>
<br><br>