
<div class="text-center">
	<div class="row">
		<div class="col-md-3"></div>

		<div class="col-md-6">
			<form ng-submit="logar(user)" class="form-group">
				<input type="text" placeholder="Nome de usuário" ng-model="user.Username" class="form-control">
				<br>
				<input type="password" placeholder="Senha do usuário" ng-model="user.Password" class="form-control">
				<br>
				<button type="submit" class="btn btn-success">Logar</button>
			</form>	
		</div>
		
		<div class="col-md-3"></div>
	</div>

</div>