
<div class="text-center"><h3>Ranking contendo os 10 melhores jogadores de cada mundo</h3></div>
<br>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Nome</th>
				<th>Guilda</th>
				<th>Mundo</th>
				<th>Pontos</th>
				<th>Batalhas</th>
			</tr>
		</thead>

		<tbody>
			<tr dir-paginate="jogador in rankingJogadores | orderBy:'Pontos' | reverse | itemsPerPage: 10" current-page="currentPage">
				<td>{{ ($index + 1) + (currentPage - 1) * 10 }}</td>
				<td><b>{{jogador.Nome}}</b></td>
				<td>{{jogador.Guilda}}</td>
				<td>{{jogador.Mundo}}</td>
				<td>{{jogador.Pontos | number}}</td>
				<td>{{jogador.Batalhas | number}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
</div>


