<div class="listaDeItens">

	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				<select ng-model="filtroEra" class="form-control">
					<option value="">Todas as Eras</option>
					<option value="Sem era definida" default>Sem era definida</option>
					<option value="Idade do Bronze">Idade do Bronze</option>
					<option value="Idade do Ferro">Idade do Ferro</option>
					<option value="Início da Idade Média">Início da Idade Média</option>
					<option value="Alta Idade Média">Alta Idade Média</option>
					<option value="Finais da Idade Media">Finais da Idade Media</option>
					<option value="Era Colonial">Era Colonial</option>
					<option value="Era Industrial">Era Industrial</option>
					<option value="Era Progressiva">Era Progressiva</option>
					<option value="Era Moderna">Era Moderna</option>
					<option value="Era Pós-Moderna">Era Pós-Moderna</option>
					<option value="Era Contemporânea">Era Contemporânea</option>
					<option value="Era do Amanhã">Era do Amanhã</option>
					<option value="Era do Futuro">Era do Futuro</option>
					<option value="Era do Futuro Ártico">Era do Futuro Ártico</option>
					<option value="Era do Futuro Oceânico">Futuro Oceânico</option>
				</select>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="form-group">
				<select ng-model="filtroUnidade.Tipo" class="form-control" >
					<option value="">Todas as Unidades</option>
					<option value="Unidade Ligeira">Unidade Ligeira</option>
					<option value="Unidade Pesada">Unidade Pesada</option>
					<option value="Unidade Rápida">Unidade Rápida</option>
					<option value="Unidade de Artilharia">Unidade de Artilharia</option>
					<option value="Unidade de Curto Alcance">Unidade de Curto Alcance</option>
				</select>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="form-group">
				<select ng-model="filtroBonus" class="form-control" >
					<option value="">Todos os Bônus</option>
					<option value="Na Floresta">Na Floresta</option>
					<option value="Nas Planícies">Nas Planícies</option>
					<option value="Nas Rochas">Nas Rochas</option>
					<option value="No Entrincheiramento">No Entrincheiramento</option>
					<option value="Nos Arbustos">Nos Arbustos</option>
					<option value="vs. Unidade de Artilharia">vs. Unidade de Artilharia</option>
					<option value="vs. Unidade de Curto Alcance">vs. Unidade de Curto Alcance</option>
					<option value="vs. Unidade Ligeira">vs. Unidade Ligeira</option>
					<option value="vs. Unidade Pesada">vs. Unidade Pesada</option>
					<option value="vs. Unidade Rápida">vs. Unidade Rápida</option>
				</select>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="form-group">
				<select ng-model="filtroHabilidade" class="form-control" >
					<option value="">Todas as Habilidades</option>
					<option value="Bem de Perto">Bem de Perto</option>
					<option value="Cavalaria Medieval">Cavalaria Medieval</option>
					<option value="Chamado ao Dever">Chamado ao Dever</option>
					<option value="Contato">Contato</option>
					<option value="Detonação">Detonação</option>
					<option value="Entrincheirado">Entrincheirado</option>
					<option value="Esconde na Floresta">Esconde na Floresta</option>
					<option value="Identidade Secreta">Identidade Secreta</option>
					<option value="Moral">Moral</option>
					<option value="Rali">Rali</option>
				</select>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Filtrar por nome" ng-model="filterNome.Nome">
			</div>
		</div>

		<div class="col-xs-6">
			
			<div class="row">
				
				<div class="col-xs-6">
					<div class="form-group">
						<input value="0" class="form-control" type="number" min="0" placeholder="Bônus de Ataque" ng-model="bonus_atk">
					</div>
				</div>

				<div class="col-xs-6">
					<div class="form-group">
						<input class="form-control" type="number" min="0" placeholder="Bônus de Defesa" ng-model="bonus_def">
					</div>
				</div>
			</div>
		</div>


	</div>

	<br>
	<ul>

		<li dir-paginate="unidade in unidadesMilitares | filter:filtroEra | filter:filtroUnidade | filter:filterNome | orderBy:'Nome' | filter:filtroBonus | filter:filtroHabilidade | itemsPerPage: 3">
			<h1 ng-show="unidadesMilitaresSemEra.length == 0">Sem unidades</h1>
		
			<div class="card text-center">
				
				<div class="imgs" width="100px" height="100px" >
					
					<img class="avatar" src="{{unidade.Imagem}}" width="100px" ng-click="toggleClass($event, 'transparent')" title="Clique para ver a unidade">

					<img class="avatar2" src="{{unidade.Imagem2}}" ng-show="{{unidade.Imagem2}}">

					<img class="avatar2" src="{{unidade.Imagem}}" width="100px" ng-show="{{!unidade.Imagem2}}">

				</div>

				<h4><b>{{unidade.Nome}}</b></h4>
				<br>
				<table class="table text-left">

					<tbody>
						<tr>
							<td><img src="{{unidade.TipoIcone}}"> <b>{{unidade.Tipo}}</b></td>
						</tr>
						<tr>
							<td><img src="img/atb_unidades/era.png"> <b>{{unidade.Era}}</b></td>
						</tr>
						<tr>
							<td>
								<img src="img/atb_unidades/ataque.png"> 
								<b>Ataque 
								<span class="pull-right">
									{{calculaBonus(unidade.Ataque, bonus_atk) || unidade.Ataque}}
									<span ng-show="bonus_atk != null"> (+{{bonus_atk}}%)</span>
								</span></b>
							</td>
						</tr>
						<tr>
							<td>
								<img src="img/atb_unidades/defesa.png"> 
								<b>Defesa 
								<span class="pull-right">
									{{calculaBonus(unidade.Defesa, bonus_def) || unidade.Defesa}}
									<span ng-show="bonus_def != null"> (+{{bonus_def}}%)</span>
								</span></b>
							</td>
						</tr>
						<tr>
							<td><img src="img/atb_unidades/alcance.png"> <b>Alcance <span class="pull-right">{{unidade.Alcance}}</span></b></td>
						</tr>
						<tr>
							<td><img src="img/atb_unidades/movimento.png"> <b>Movimento <span class="pull-right">{{unidade.Movimento}}</span></b></td>
						</tr>
					</tbody>
				</table>

				<span ng-show="unidade.BonusAtaque">
					<h4 class="text-left"><b>Bonus de Ataque</b></h4>
					<table class="table table-condensed tbonus">
						<thead>
							<tr></tr>
							<tr></tr>
							<tr></tr>
						</thead>

						<tbody class="text-left">
							<tr ng-repeat="bonus in unidade.BonusAtaque">
								<td ng-show="bonus != null"><img src="{{bonus.Icone}}"></td>
								<td ng-show="bonus != null"><b>{{bonus.Nome}}</b></td>
								<td ng-show="bonus != null && bonus.Valor">+<b>{{bonus.Valor}}</b></td>
							</tr>
						</tbody>
					</table>
				</span>

				<span ng-show="unidade.BonusDefesa">
					<h4 class="text-left"><b>Bonus de Defesa</b></h4>
					<table class="table table-condensed tbonus">
						<thead>
							<tr></tr>
							<tr></tr>
							<tr></tr>
						</thead>

						<tbody class="text-left">
							<tr ng-repeat="bonus in unidade.BonusDefesa">
								<td ng-show="bonus != null"><img src="{{bonus.Icone}}"></td>
								<td ng-show="bonus != null"><b>{{bonus.Nome}}</b></td>
								<td ng-show="bonus != null && bonus.Valor">+<b>{{bonus.Valor}}</b></td>
							</tr>
						</tbody>
					</table>
				</span>

				<span ng-show="unidade.Habilidades">
					<h4 class="text-left"><b>Habilidades</b></h4>
					<table class="table table-condensed thabilidades">
						<thead>
							<tr></tr>
							<tr></tr>
							<tr></tr>
						</thead>

						<tbody class="text-left">
							<tr ng-repeat="hab in unidade.Habilidades">
								<td ng-show="hab != null"><img src="{{hab.Icone}}"></td>
								<td ng-show="hab != null"><b>{{hab.Nome}}: </b>{{hab.Desc}}</td>
								<td ng-show="hab != null && hab.Valor">+<b>{{hab.Valor}}</b></td>
							</tr>
						</tbody>
					</table>
				</span>
				
			</div>

		</li>

	</ul>
	<div style="clear: both"></div>

</div>
<br>
<div class="text-center">
	<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
</div>
